body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my_container {
  width: 70em;
  border: 1px solid grey;
  padding: 1em;
  margin: 1em auto;
}

.buttons {
  width: 100%;
  padding: 1em;
  margin: 1em auto;
  text-align: center;
}

.ml-2 {
  margin-left: 2em;
}

nav {
  list-style: none;
  padding: 0;
  background: #092327;
  width: 100%;
  /* max-width: 1000px; */
  margin: auto;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

nav li {
  display: inline-block;
  text-align: center;
  ;
}

nav li :hover {
  background: #ef8354;
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  transition: 1s;
  text-decoration: underline;
}

header {
  color: red;
}

section {
  color: green;
}

footer {
  color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}