body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
list-style: none;
padding: 0;
background: #092327;
width: 100%;
max-width: 1000px;
margin: auto;
}
nav li a{
text-decoration:none;
color: white;
padding: 20px;
display:block;
text-decoration: underline;

}
nav li{
display:inline-block;
text-align:center;
;
}
nav li :hover{
background: #ef8354; 
border:none;
  color: black;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
  text-decoration: underline;
}


header{
  color: red;
}
section{
  color: green;
}
footer{
  color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
